<form method = "POST" action = "/editInfo">
    <label>이름: <input type = "text" name = "name" value = "<%= userInfo.name %>"></label><br>
    <label>이메일: <input type = "email" name = "email" value = "<%= userInfo.email %>"></label><br>
    <label>전화번호: <input type = "text" name = "phone" value = "<%= userInfo.phone %>"></label><br>
    <label>주소: <input type = "text" name = "address" value = "<%= userInfo.address %>"></label><br>
    <button type = "submit">저장</button>
</form>