<form method="POST" action="/postManage/delete">
    <table>
        <thead>
            <tr>
                <th>제목</th>
                <th>날짜</th>
                <th>조회수</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
            <% posts.forEach(post => {
                <tr>
                    <td><%= post.title %></td>
                    <td><%= post.created_at %></td>
                    <td><%= post.views %></td>
                    <td><input type = "checkbox" name = "postIds" value = "<%= post.id %>"></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <button type = "submit">삭제</button>
</form>